.form__input--gender {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    padding-left: 10px;
    width: 200px;
    height: 40px;
}