.select__houses {
    display: flex;
    margin-left: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 65px;
    background-color: #ecf0f1;
    border: 2px solid rgb(65, 68, 75);
    color: #444444;
    box-shadow: 3px 2px 4px hsl(57, 93%, 64%);
    &:focus {
        outline: none;
        border: 2px solid rgb(43, 191, 48);
        box-shadow: 2px 0 5px rgb(250, 128, 114);
    }
}