.form__filters{
    &--legend{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--input {
        box-shadow: 3px 2px 4px hsl(57, 93%, 64%);
        &:focus {
            outline: none;
            box-shadow: 2px 0 5px rgb(228, 35, 138);
        }
    }
    &--label{
        font-family: 'Indie Flower';
        font-size: 18px;
        margin-top: 8px;
        color: #444444;
    }  
}