.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    background: linear-gradient(rgb(244, 154, 154), rgb(211, 211, 211));
    &__img {
        width: 50vw;
        &:hover {
            -webkit-transform: rotateY(180deg);
            -webkit-transform-style: preserve-3d;
            transform: rotateY(180deg);
            transform-style: preserve-3d;
        }
    }
    &__text{
        font-family: 'Indie Flower', cursive;
        font-weight: 900;
        font-size: 20px;
        font-style: italic;
        &:hover {
            background: linear-gradient(to left, #b47dcd, #e878a2, #eb85ab, #00ffff, #ffc800);
        }
    }
}
.arrow{
    text-shadow: 1px 25px 15px rgb(243, 243, 243);
    box-shadow: 0 1px 10px 0 white, 0 1px 20px 0 rgba(22, 3, 3, 0.877);
    margin-bottom: 10px;
}